// フォントカラー（基本）
$main-color--b: #3b3b3b;
$main-color--w: #ffffff;
$main-color--gray: #ebebeb;
$main-color--Dgray: #636363;
$main-color--beige: #b1a595;
$main-color--tel: #df2323;

// サイト独自のカラー(3色 : 若い数字の方がよりメインカラー)
$site-color01: #96bbc7;// 薄い色
$site-color02: #5a8190;// 濃い色
$site-color03: #f2d341;
$site-color04: #a0a0a0;
$site-color_kome: #dacebc;

$house-color01: #b6b343;
$house-color02: #6d5847;
$house-color03: #599465;
$house-color04: #00c5d5;

$site-color01-hover: #5a8190;
$site-color02-hover: #246579;
$site-color03-hover: #024c63;

$sold-out:#5a8190;

// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// お問い合わせ
$contact-item-1: #333333;
$contact-item-2: #333333a4;
$contact-item-3: #3333335b;
$contact-item-4: #33333344;


// ホバー関係
$nav-hover-bg: #41606a;
$nav-active-bg: #002a37;