


.a{
    &-moveUp{
        animation-name: moveUpAnime;
        animation-fill-mode: infinite;
    }
    @keyframes moveUpAnime{
        0% {
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
        50%{
            transform: translateY(0px) scale(1.2);
            opacity: .8;
        }
        100% {
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
    }
    &-moveDown{
        animation-name: moveDownAnime;
        animation-fill-mode: infinite;
    }
    @keyframes moveDownAnime{
        0% {
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
        50%{
            transform: translateY(0px) scale(.8);
            opacity: .8;
        }
        100% {
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
    }
}