
/* ---------------------------------
    画像：ホバー > 画像拡大
--------------------------------- */
.a-zoomImg{
    .imgBox{
        background: black;
        overflow: hidden;
        transition: 3s all;
        img{
            transform: scale(1.01);
            transition: 1s all;
        }
        &:hover{
            img{transform: scale(1.05);}
        }
    }
}


/* ---------------------------------
    ファーストビュー > 画像縮小
--------------------------------- */
.a-fviewOutImg{
    overflow: hidden;
    transition: 4s all;
    img{
        animation-name: ZoomOut;
        animation-fill-mode:forwards;
        animation-iteration-count:infinite;
        animation-duration:4s;
        transform: scale(1.01);
    }
}
@keyframes ZoomOut{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.85);
        opacity: .85;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* ---------------------------------
    ファーストビュー > 画像拡大
--------------------------------- */
.a-fviewInImg{
    overflow: hidden;
    transition: 4s all;
    img{
        animation-name: ZoomIn;
        animation-fill-mode:forwards;
        animation-iteration-count:infinite;
        animation-duration:4s;
        transform: scale(1.01);
    }
}
@keyframes ZoomIn{
    0% {
        transform: scale(.85);
        opacity: .85;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.85);
        opacity: .85;
    }
}

/* ---------------------------------
    スクロール > 画像拡大
--------------------------------- */
.a-scOutImg{
    width: 100%;
    overflow: hidden;
    transition: 4s all;
    img{
        animation-name: ZoomOut;
        animation-fill-mode:forwards;
        transform: scale(1.5);
    }
}