
/* ---------------------------------
    画像：ホバー > 画像拡大
--------------------------------- */
.a-zoomImg{
    .imgBox{
        background: black;
        overflow: hidden;
        transition: 3s all;
        img{
            transform: scale(1.01);
            transition: 1s all;
        }
        &:hover{
            img{transform: scale(1.05);}
        }
    }
}

/* ---------------------------------
    スクロール > 画像拡大
--------------------------------- */
.a-scOutImg{
    width: 100%;
    overflow: hidden;
    transition: 4s all;
    img{
        animation-name: ZoomOut;
        animation-fill-mode:forwards;
        transform: scale(1.5);
    }
}