

button{
	transition: .3s;
	&:hover{
			transition: .3s;
			opacity: .8;
	}
}


.c-btn{
	&-fixed{//SP 画面下固定/PC 画面右固定
		position: fixed;
		top: auto;
		left: 50%;
		bottom: 0;
		color: $site-color02;
		cursor: pointer;
		z-index: 99;
		@include max(768){
			border: 1px solid $site-color02;
			box-shadow: 0 2px 4px $main-color--b;
			transform: translateX(-50%);
		}
		@include min(768){
			top: 25%;
			left: auto;
			bottom: auto;
			right: 25px;
			border: 1px solid $site-color02;
			box-shadow: 0 2px 4px $site-color02;
		}
		.c-btn-lists{
			display: flex;
			flex-wrap: nowrap;
			width: auto;
			@include min(768){
				flex-wrap: wrap;
				flex-direction: column;
			}
			li{
				position: relative;
				width: 50vw;
				@include max(768){
					&:first-child a{
						color: $main-color--w;
						background: $site-color01;
					}
					&:nth-child(2) a{
						color: $main-color--w;
						background: $site-color02;
					}
				}
				@include min(768){
					width: auto;
					writing-mode: vertical-rl;
				}
				&:first-child{
					@include max(768){border-right: 1px solid $site-color01;}
					@include min(768){border-bottom: 1px solid $site-color01;}
				}
				a{
					width: 100%;
					padding: 6% 0;
					background: $main-color--w;
					@include min(768){
						width: auto;
						padding: 30px 10%;
					}
					&:hover{
						background: $site-color02;
						color: $main-color--w !important;
					}
				}
			}
		}
	}
	&-top{
		position: fixed;
    bottom: 19px;
		right: 19px;
		width: 4rem;
		height: 4rem;
		line-height: 3.5rem;
		background: white;
    border: 1px solid $main-color--b;
		box-shadow: 2px 3px 5px 0px #3b3b3b54;
		cursor: pointer;
		transition: all .5s;
		z-index: 99;
		@include min(768){
			bottom: 55px;
			right: 55px;
		}
		&:hover{
			color: $main-color--w;
			background: $site-color01;
			border-radius: 5px;
		}
	}
}

/*    Link
--------------------------------------------------------------------------------*/
  
a{
	transition: .3s;
	color: $main-color--b;
	// text-decoration: underline;
}
// a:link {   color: $site-color01; text-decoration: underline;}
// a:visited {color: $site-color01; text-decoration: none;}
// a:hover {  color: $site-color01; text-decoration: none;transition: .3s;opacity: .8;}
// a:active { color: $site-color01; text-decoration: none;}
