
.swiper{
    z-index: 0;
    .swiper-wrapper{
        // padding-bottom: 20px;
        // @include min(768){
        //     padding-bottom: 30px;
        // }
        .swiper-slide{
            text-align: end;
            opacity: .5;
            overflow: hidden;
            transition: .5s all;
            img{
                width: 100%;
                height: auto;
                pointer-events: auto;
                @include min(768){
                    width: 100%;
                    height: auto;
                }
            }
            a{
                display: block;
                color: $main-color--b;
                background: $main-color--w;
                font-weight: bold;
                overflow: hidden;
                img{
                    transition: .5s all;
                    @include max(768){
                        color: $main-color--b;
                        margin-right: 9vw;
                    }
                    &::after{
                        @include max(768){
                            background: $main-color--b;
                        }
                    }
                }
                &:hover{
                    color: $main-color--beige;
                    img{
                        transform: scale(1.05);
                        opacity: 1;
                    }
                }
            }
        }
    }
    // ファーストビュー用 > スライダー
    &.swiper-Fview{
        @include max(768){
            // position: absolute;
            // top: 0;
        }
        .swiper-slide{
            .imgBox img {transition: 3s all;}
            &-active{//アクティブ時のアクション
                .zoom img {transform: scale(1.05);}

                // .bg-img{
                //     &.-item01{
                //         width: 100%;
                //         height: 100%;
                //         background-image: url(../images/slider/f-view02_tb.png);
                //         background-size: cover;
                //         background-repeat: no-repeat;
                //     }
                // }

                .-f-bird_01,
                .-f-bird_02,
                .-f-bird_03,
                .-f-bird_04,
                .-f-border{

                }
            }
        }
    }
    // サムネイル連動スライダー
    &.swiperMain{// メイン
        .swiper-slide{
            @include max(768){
                height: 80% !important;
                max-height: 280px;
                img{
                    object-fit: cover;
                    object-position: right 0 bottom 20px;
                }
            }
        }
    }
    &.swiperThumbnail{// サムネイル
        .swiper-slide{
            transform: scale(.8);
            img{
                pointer-events: auto !important;
            }
            &-thumb-active{
                // border: 1px solid $main-color--b;
                opacity: 1;
                transform: scale(1) !important;
            }
            &:hover{
                // border: 1px solid $main-color--b;
                // opacity: .5;
                transform: scale(.9);
            }
        }
        .swiper-pagination{
            // bottom: var(--swiper-pagination-bottom, -20px);
            bottom: 0;
            left: 51%;
            transform: translateX(-50%);
            @include min(768){
                bottom: 0px;
            }
            &-bullet{
                border-radius: 4px;
                transform: scaleX(1);
                transition: .5s all;
                @include min(768){
                    border-radius:1px;
                }
                span{
                    display: inline-block;
                }
                &-active{
                    width: 50px;
                    background: $main-color--gray !important;
                    border: 1px solid $main-color--b !important;
                    @include min(768){
                        background: $main-color--b !important;
                    }
                }
            }
        }
    }
    // 施工例用 > スライダー
    &.swiper-Build,
    &.swiper-Video{
        width: 100%;
        height: 100%;
        // position: inherit;
        .swiper-slide{
            transform: scale(.8);
            img{
                pointer-events: auto !important;
            }
            &-active{
                opacity: 1;
                transform: scale(1) !important;
            }
            &:hover{
                opacity: 1;
                transform: scale(.9);
            }
        }
        .swiper-pagination{
            bottom: 0;
            left: 51%;
            transform: translateX(-50%);
            @include min(768){
                bottom: 0px;
            }
            &-bullet{
                border-radius: 4px;
                transform: scaleX(1);
                transition: .5s all;
                @include min(768){
                    border-radius:1px;
                }
                span{
                    display: inline-block;
                }
                &-active{
                    width: 50px;
                    background: $main-color--gray;
                    border: 1px solid $main-color--b;
                    @include min(768){
                        background: $main-color--b;
                    }
                }
            }
        }
    }

    // 次に進む・前に戻るボタン
    .swiper-button-prev,
    .swiper-button-next{
        &::after{
            color: white !important;
            filter: drop-shadow(1px 1px 3px black);
            @include min(768){

            }
        }
    }

    // 各スライダー > 共通パーツ > ドット
    .swiper-pagination{
        &.-type01{
            .swiper-pagination-bullet{
                box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.692);
                transition: all 1s;
            }
            .swiper-pagination-bullet-active {
                width: 20px;
                border-radius: 5px;
                background: $site-color02;
            }
        }
    }
}
